.headerMain-container {
  background-image: url("../../../../../images/9d27ca-20180103-amazon-hq.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}
